@import "../../../styles/variables/variables.module.scss";
@import "../../../styles/mixins/mixins.module.scss";
$size-icon-one: 75px;
$size-icon-two: 90px;

.post,
.post_header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	margin-bottom: 15px;
	margin-top: 60px;

	.icon {
		display: grid;
		place-items: center;

		svg {
			width: $size-icon-two;
			height: $size-icon-two;
		}
	}

	.content {
		width: 100%;

		h3 {
			color: $text-white;
			text-align: left;
			letter-spacing: 0.7px;
			font-size: 1.1rem;
			font-family: prompt_light;
		}

		time {
			display: block;
			font-size: 0.8rem;
			letter-spacing: 0.7px;
			color: $text-dark;
			margin-top: 5px;
			font-family: prompt_light;
		}
	}
}

.post {
	border: 1px solid $border-card;
	padding: 10px;
	border-radius: 10px;
	margin-top: 0px;
	text-decoration: none;
	animation: entry 0.2s ease-in-out both;

	.icon {
		svg {
			width: $size-icon-one;
			height: $size-icon-one;
		}
	}
}

@media (min-width: 1024px) {
	$size-icon-one: 85px;
	$size-icon-two: 85px;

	.post,
	.post_header {
		gap: 30px;

		&:hover {
			.icon svg {
				transform: scale(1.05) rotate(-2deg);
			}
		}

		.icon {
			svg {
				width: $size-icon-two;
				height: $size-icon-two;
				transition: transform 0.2s;
			}
		}

		.content {
			h3 {
				letter-spacing: 1px;
				font-size: 1.4rem;
				font-family: prompt_regular;
			}

			time {
				font-size: 0.9rem;
			}
		}
	}

	.post {
		border: none;
		padding: 15px;
		gap: 20px;
		outline: 1px solid #1e122200;
		transition: all 0.2s;

		&:hover {
			background-color: $hover-div;
			outline: 1px solid #380649b7;

			.icon svg {
				transform: scale(1.1) rotate(-3deg);
			}
		}

		.icon {
			svg {
				width: $size-icon-one;
				height: $size-icon-one;
			}
		}

		.content {
			h3 {
				font-size: 1.15rem;
				font-family: prompt_light;
			}
		}
	}
}

@keyframes entry {
	from {
		opacity: 0;
		transform: translateX(-10px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
