@import "../../../../styles/variables/variables.module.scss";
@import "../../../../styles/mixins/mixins.module.scss";

.container {
	width: 100%;
	max-width: 900px;
	min-height: 90vh;
	padding: 10px;
	margin: auto;
	animation: entry 0.3s both;

	.division,
	hr {
		display: block;
		margin: 40px auto 50px auto;
		border: none;
		outline: none;
		height: 2px;
		width: 95%;
		background-color: $bg-secondary;
		border-radius: 10px;
	}

	hr {
		width: 100%;
		height: 1px;
		margin: 45px auto 30px auto;
	}

	.container_mdx {
		p,
		ul,
		ol {
			@include paragraf();
			margin-bottom: 20px;
			line-height: 1.75rem;
		}

		h1,
		h2,
		h3 {
			color: $text-white;
			font-family: prompt_regular;
			letter-spacing: 1.1px;
			font-size: 1.6rem;
			margin-bottom: 15px;
			margin-top: 25px;
		}

		h2 {
			font-size: 1.4rem;
		}

		h3 {
			font-size: 1.2rem;
		}

		div {
			width: 100%;
			max-width: 800px;
			margin: 40px auto;
			position: relative;
		}

		div[data-language="js"],
		div[data-language="ts"],
		div[data-language="html"],
		div[data-language="css"],
		div[data-language="sh"],
		div[data-language="sass"] {
			*::selection {
				background: #383838;
			}

			&::before {
				content: "JS";
				font-family: prompt_medium;
				font-size: 0.9rem;
				letter-spacing: 0.7px;
				position: absolute;
				top: -15px;
				right: 10px;
				width: 25px;
				height: 25px;
				color: #000;
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				padding: 0 2px;
				background-color: #f7df1e;
				border-radius: 5px;
				z-index: 10;
			}
		}

		div[data-language="ts"] {
			&::before {
				content: "TS";
				background-color: #3178c6;
				color: #fff;
			}
		}

		div[data-language="html"] {
			&::before {
				content: "HTML";
				width: auto;
				height: auto;
				padding: 2px 7px;
				background-color: #e44d26;
				color: #fff;
				align-items: center;
				justify-content: center;
			}
		}

		div[data-language="css"] {
			&::before {
				content: "CSS";
				width: auto;
				height: auto;
				padding: 2px 7px;
				background-color: #3178c6;
				color: #fff;
				align-items: center;
				justify-content: center;
			}
		}

		div[data-language="sass"] {
			&::before {
				content: "Sass";
				width: auto;
				height: auto;
				padding: 2px 7px;
				background-color: #cd6799;
				color: #fff;
				align-items: center;
				justify-content: center;
			}
		}

		div[data-language="sh"] {
			&::before {
				content: "sh";
				width: auto;
				height: auto;
				padding: 2px 7px;
				background-color: #221e1f;
				color: #b6b6b6;
				align-items: center;
				justify-content: center;
			}
		}

		div > pre {
			padding: 15px;
			border-radius: 10px;
			overflow-y: auto;
			font-size: 0.85rem;
			background-color: rgba(26, 26, 26, 0.568) !important;
			border: 1px solid $border-card;
			line-height: 23px;
			box-shadow: 0 0 10px 0px #2929298f;

			span[data-chars-id="v"] {
				background: #cc00ff3a;
				color: #e992ff !important;
				padding: 1px 5px;
				border-radius: 5px;
				border: 1px solid #d000ff;
			}

			span[data-chars-id="y"] {
				background: #fbff003a;
				color: #fcff58 !important;
				padding: 1px 5px;
				border-radius: 5px;
				border: 1px solid #eeff00b6;
			}

			span[data-chars-id="b"] {
				background: #006eff25;
				color: #00b7ff !important;
				padding: 1px 5px;
				border-radius: 5px;
				border: 1px solid #0059ffb6;
			}

			&::-webkit-scrollbar {
				-webkit-appearance: none;
			}

			&::-webkit-scrollbar:vertical {
				width: 5px;
				background-color: $bg-primary;
			}

			&::-webkit-scrollbar-button:increment,
			&::-webkit-scrollbar-button:decrement {
				display: none;
			}

			&::-webkit-scrollbar-thumb {
				background: $secondary;
				border-radius: 20px;
				border: 6px solid #121113;
			}

			&::-webkit-scrollbar-track {
				border-radius: 10px;
			}
		}

		span > code {
			padding: 2px 5px;
			padding-bottom: 3px;
			border-radius: 5px;
			border: 1px solid $border-card;
			background: rgba(26, 26, 26, 0.568) !important;
		}

		ul {
			margin-left: 20px;
			color: $bg-secondary;

			li {
				margin-bottom: 5px;

				span {
					color: $text-dark;
				}
			}
		}
	}

	blockquote {
		padding: 10px 20px;
		border: 1px solid #818181;
		background: #6b6b6b73;
		border-radius: 10px;
		max-width: 800px;
		margin: 40px auto;
		box-shadow: 0 0 10px 0px #2929298f;

		h2,
		h3,
		h4 {
			color: $text-white;
			margin: 0 !important ;
			padding: 0 !important;
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	strong {
		color: $text-white;
		@include text_gradient();
	}

	a {
		color: $success;
		text-decoration: none;
		font-family: prompt_medium;
	}
}

@media (min-width: 1024px) {
	.container {
		.container_mdx {
			p,
			ul,
			ol {
				font-size: 1.1rem;
				font-family: prompt_regular;
				line-height: 1.85rem;
			}

			h1 {
				font-size: 1.9rem;
			}

			h2 {
				font-size: 1.6rem;
			}

			h3 {
				font-size: 1.4rem;
			}

			div > pre {
				font-size: 1rem;
				line-height: 25px;
			}

			a {
				&:hover {
					text-decoration: underline;
				}
			}

			ul,
			ol {
				margin-left: 40px;
			}
		}
	}
}

@keyframes entry {
	from {
		opacity: 0;
		transform: translateY(15px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
