@import "../styles/variables/variables.module.scss";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $bg-primary;
	color: $text-white;
	font-family: "system-ui", sans-serif;
	font-family: prompt_regular;
}

@font-face {
	font-family: prompt_light;
	src: url("../fonts/Prompt-Light.ttf");
}
@font-face {
	font-family: prompt_regular;
	src: url("../fonts/Prompt-Regular.ttf");
}
@font-face {
	font-family: prompt_medium;
	src: url("../fonts/Prompt-Medium.ttf");
}
@font-face {
	font-family: prompt_semi_bold;
	src: url("../fonts/Prompt-SemiBold.ttf");
}
@font-face {
	font-family: prompt_bold;
	src: url("../fonts/Prompt-Bold.ttf");
}
@font-face {
	font-family: prompt_extra_bold;
	src: url("../fonts/Prompt-ExtraBold.ttf");
}
