@import "../styles/variables/variables.module.scss";

.container_division {
	margin-top: -10px;
	filter: drop-shadow(0 60px 30px #8f23bd2f)
		drop-shadow(0 -10px 20px $bg-primary);

	svg {
		width: 100%;
	}
}
