$primary: #bd00ff;
$secondary: #9e27ff;
$bg-primary: #08040a;
$text-dark: #cecece;
$text-white: #ffffff;
$bg-secondary: #29053a;
$bg-nav: #0c0314;
$bg-nav-two: #08040adc;
$hover-div: #1e122270;
$border-card: #272727;
$shadow-button: rgba(123, 31, 162, 0.5);
$shadow-person: rgba(123, 31, 162, 0.65);
