@import "../../styles/mixins/mixins.module.scss";
@import "../../styles/variables/variables.module.scss";

.container {
	width: 100%;
	max-width: 800px;
	min-height: 95vh;
	margin: auto;
	animation: entry 0.3s both;

	.decoration {
		position: absolute;
		top: 10%;
		right: 20%;
		box-shadow: 0 0 300px 80px #7403a14d, -250px 750px 300px 80px #7403a138;
		z-index: -1;
	}

	.title {
		@include title();
		padding-top: 50px;
	}

	.posts {
		margin: 40px auto;
		padding: 0 10px;
	}
}

@media (min-width: 1024px) {
	.container {
		.decoration {
			top: 20%;
			right: 10%;
			box-shadow: 0 0 400px 100px #7403a138, -800px 500px 400px 100px #7403a138;
		}

		.title {
			@include title_lg();
			margin-top: 0;
			padding-top: 60px;
		}

		.posts {
			margin: 30px auto;
		}
	}
}

@keyframes entry {
	from {
		opacity: 0;
		transform: translateY(15px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
