@import "../../../styles/variables/variables.module.scss";
@import "../../../styles/mixins/mixins.module.scss";

.container {
	margin-bottom: 80px;
	animation: entry 0.3s both;

	h2 {
		@include title();
		margin-top: 20px;
    // animation: animationTitle linear;
		// view-timeline: --title block;
		// animation-timeline: --title;
		// animation-range: entry 100% contain 40%;
		// animation-fill-mode: both;
		// animation-duration: 1ms; /* Firefox */
	}

	.grid {
		max-width: 600px;
		padding: 0 15px;
		margin: auto;
		margin-top: 30px;

		p {
			@include paragraf();
			margin-top: 15px;
      text-wrap: balance;

			&:first-child {
				margin: 0;
			}

			strong {
				color: $success;
			}
		}

		.skills {
			margin-top: 50px;

			h3 {
				@include title();
				font-size: 1.7rem;
			}

			.tecnologies {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				gap: 50px;
				margin: auto;
				margin-top: 30px;
				max-width: 330px;

				svg {
					width: 75px;
					height: 75px;
				}
			}
		}
	}
}

@media (min-width: 764px) {
	.container {
		h2 {
			@include title_lg();
		}

		.grid {
			max-width: 700px;
			margin-top: 40px;

			p {
				font-size: 1.05rem;
			}

			.skills {
				h3 {
					font-size: 2.4rem;
					font-family: prompt_bold;
				}

				.tecnologies {
					max-width: 400px;

					svg {
						transition: transform 0.2s ease-in-out;

						&:hover {
							transform: rotate(-3deg) translate(1px, -5px);
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1224px) {
	.container {
		h2 {
			margin-top: 60px;
		}

		.grid {
			max-width: 1130px;
			display: grid;
			grid-template-columns: 55% 45%;
			place-items: center;
			margin-top: 10px;

			p {
				font-size: 1.1rem;
			}

			.skills {
				margin: 0;
			}
		}
	}
}

@keyframes entry {
	from {
		opacity: 0;
		transform: translateY(15px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
