@import "../../../styles/mixins/mixins.module.scss";
@import "../../../styles/variables/variables.module.scss";

.container {
	width: 100%;
	max-width: 800px;
	min-height: 90vh;
	margin: auto;
	animation: entry 0.3s both;

	.title {
		@include title();
		padding-top: 50px;
	}

	.posts {
		margin: 40px auto;
		padding: 0 10px;
	}
}

@media (min-width: 1024px) {
	.container {
		.title {
			@include title_lg();
			margin-top: 0;
			padding-top: 60px;
		}

		.posts {
			margin: 30px auto;
		}
	}
}

@keyframes entry {
	from {
		opacity: 0;
		transform: translateY(15px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
