@import "../variables/variables.module.scss";

@mixin title() {
	text-align: center;
	font-family: prompt_regular;
	font-size: 2rem;
	letter-spacing: 1.3px;
	line-height: 130%;
	color: $text-white;
}
