@import "../variables/variables.module.scss";

@mixin title() {
	text-align: center;
	font-family: prompt_regular;
	font-size: 2.5rem;
	letter-spacing: 1.3px;
	line-height: 130%;
	color: $text-white;
}

@mixin text_gradient() {
	background: linear-gradient(
		90deg,
		$success 0%,
		rgba(189, 0, 255, 1) 60%,
		$primary
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

@mixin bg_gradient() {
	background: linear-gradient(
		90deg,
		$success 0%,
		rgba(189, 0, 255, 1) 60%,
		$primary
	);
}

@mixin title_lg() {
	font-size: 3.5rem;
	font-family: prompt_bold;
	margin-top: 50px;
	letter-spacing: 2.5px;
}

@mixin paragraf() {
	font-family: prompt_regular;
	letter-spacing: 0.7px;
	font-size: 1rem;
	color: $text-dark;
}
