@import "../../../styles/variables/variables.module.scss";

.toggler {
	position: fixed;
	top: 20px;
	left: 20px;
	border: none;
	outline: none;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: $bg-secondary;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4px;
	cursor: pointer;
	z-index: 1000;

	span {
		background-color: $text-white;
		width: 23px;
		height: 2px;
		border-radius: 100px;
		transition: opacity 0.2s, transform 0.2s;
	}

	&.active {
		span:nth-child(1) {
			transform: translate(0, 300%) rotate(45deg);
		}

		span:nth-child(2) {
			opacity: 0;
		}

		span:nth-child(3) {
			transform: translate(0, -300%) rotate(-45deg);
		}
	}
}

.nav {
	position: fixed;
	background-color: $bg-nav;
	width: 75%;
	height: 100vh;
	max-width: 300px;
	padding: 100px 25px 20px 25px;
	transform: translateX(-100%);
	transition: all 0.2s;
	z-index: 100;

	.brand {
		color: $text-white;
		text-decoration: none;
		letter-spacing: 1.5px;
		font-family: prompt_bold;
		display: block;
		text-align: center;
		font-size: 1.9rem;
	}

	ul {
		list-style: none;
		margin: 30px 15px;

		li {
			a {
				width: 100%;
				padding: 15px 10px;
				align-items: center;
				display: flex;
				justify-content: space-between;
				text-decoration: none;
				font-size: 1rem;
				font-family: prompt_regular;
				color: $text-dark;
				letter-spacing: 1px;
				border-bottom: 1px solid $bg-secondary;

				svg path {
					stroke: $text-dark;
				}
			}
			&:last-child a {
				border: none;
			}
			&.active a {
				color: $primary;

				svg path {
					stroke: $primary;
				}
			}
		}
	}

	&.active {
		box-shadow: 0 0 130px 30px $bg-nav;
		transform: translateX(0);
	}
}

@media (min-width: 1024px) {
	.toggler {
		display: none;
	}

	.nav {
		position: fixed;
		background-color: inherit;
		width: 100%;
		height: auto;
		max-width: none;
		padding: 10px 7%;
		transform: translateX(0%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		backdrop-filter: blur(7px);
		z-index: 1000;
		transition: background 0.3s;
		overflow: hidden;
		scrollbar-gutter: stable;

		&.scroll {
			background-color: $bg-nav-two;
		}

		.brand {
			cursor: pointer;
			color: $primary;
			font-family: prompt_medium;
			font-size: 1.3rem;
			letter-spacing: 1px;
		}

		ul {
			margin: 0;
			display: flex;

			.hover_div {
				--top: 10px;
				--width: 10px;
				--left: 10px;
				--height: 10px;
				position: fixed;
				background-color: $hover-div;
				outline: 1px solid #4a0661;
				top: var(--top);
				left: var(--left);
				width: var(--width);
				height: var(--height);
				border-radius: 5px;
				z-index: -1;
				opacity: 0;
				transition: all 0.2s ease-in-out;
			}

			li {
				a {
					padding: 7px 20px;
					height: 100%;
					font-family: prompt_regular;
					font-size: 1rem;
					color: $text-dark;
					border-bottom: none;
					position: relative;

					&::before {
						content: "";
						position: absolute;
						width: 85%;
						height: 2px;
						background: $secondary;
						border-radius: 10px;
						left: 50%;
						bottom: -2px;
						opacity: 0;
						transition: opacity 0.2s;
						transform: translateX(-50%);
					}

					svg {
						display: none;
					}
				}

				&.active a {
					position: relative;
					color: $text-dark;

					&::before {
						opacity: 1;
					}
				}
			}
		}
	}
}
